{
  "printWidth": 100,
  "singleQuote": true,
  "quoteProps": "preserve",
  "trailingComma": "all",

  "plugins": ["prettier-plugin-organize-imports"],
  "organizeImportsSkipDestructiveCodeActions": true
}
