.icon {
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: $icon-size-base;
  width: $icon-size-base;
}

span {
  &.icon {
    @include valign-middle;
  }
}

.icon-lg {
  height: $icon-size-lg;
  width: $icon-size-lg;
}