.dropdown-select {
  > .btn.dropdown-toggle {
    width: 100%;
    text-align: left;
    background-color: $dropdown-bg;
    color: $body-color;
    border: $dropdown-border-width solid $dropdown-border-color;
    min-width: $dropdown-min-width;
    cursor: pointer;
    overflow: hidden;

    &:focus,
    &:active {
      box-shadow: none;
      border-color: $input-focus-border-color;

      &:after {
        border-top: none;
        border-bottom: .3em solid;
      }
    }

    &:after {
      position: absolute;
      right: 1em;
      top: 50%;
      margin-top: -0.15em;
    }
  }

  > .dropdown-menu {
    width: 100%;
    height: auto;
    max-height: 400px;
    overflow-x: hidden;

    > .dropdown-item {
      cursor: pointer;

      &.disabled {
        color: $dropdown-link-disabled-color;
        background-color: transparent;
        cursor: not-allowed;
      }
    }
  }
}