:root {
  --gw2-color-warrior-light: #fff2a4;
  --gw2-color-warrior-main: #ffd166;
  --gw2-color-warrior-dark: #caaa2a;

  --gw2-color-elementalist-light: #f6bebc;
  --gw2-color-elementalist-main: #f68a87;
  --gw2-color-elementalist-dark: #dc423e;

  --gw2-color-engineer-light: #e8bc84;
  --gw2-color-engineer-main: #d09c59;
  --gw2-color-engineer-dark: #87581d;

  --gw2-color-guardian-light: #bce8fd;
  --gw2-color-guardian-main: #72c1d9;
  --gw2-color-guardian-dark: #186885;

  --gw2-color-mesmer-light: #d09eea;
  --gw2-color-mesmer-main: #b679d5;
  --gw2-color-mesmer-dark: #69278a;

  --gw2-color-necromancer-light: #bfe6d0;
  --gw2-color-necromancer-main: #52a76f;
  --gw2-color-necromancer-dark: #2c9d5d;

  --gw2-color-ranger-light: #d2f6bc;
  --gw2-color-ranger-main: #8cdc82;
  --gw2-color-ranger-dark: #67a833;

  --gw2-color-revenant-light: #e4aea3;
  --gw2-color-revenant-main: #d16e5a;
  --gw2-color-revenant-dark: #a66356;

  --gw2-color-thief-light: #dec6c9;
  --gw2-color-thief-main: #c08f95;
  --gw2-color-thief-dark: #974550;

  --gw2-color-details-title: #eebb66;
  --gw2-color-details-muted: rgba(255, 255, 255, 0.7);
  --gw2-color-details-ability-type: #efdf80;
  --gw2-color-details-bonus: #5599ff;
  --gw2-color-details-bonus-inactive: #aaa;
  --gw2-color-details-attribute: #00ff00;
  --gw2-color-details-flavor: #99dddd;

  --gw2-color-attribute-main: #aaa;
  --gw2-color-attribute-dark: #7a7a7a;
  --gw2-color-attribute-light: #e0e0e0;

  --gw2-color-effect-augmentation-main: #fecd76;
  --gw2-color-effect-augmentation-dark: #feac20;
  --gw2-color-effect-augmentation-light: #fff7eb;
  --gw2-color-effect-aura-main: #329ead;
  --gw2-color-effect-aura-dark: #1c575f;
  --gw2-color-effect-aura-light: #71cad6;
  --gw2-color-effect-boon-main: #d67400;
  --gw2-color-effect-boon-dark: #7a4300;
  --gw2-color-effect-boon-light: #ffac47;
  --gw2-color-effect-condition-main: #d23a30;
  --gw2-color-effect-condition-dark: #86241d;
  --gw2-color-effect-condition-light: #e5908a;
  --gw2-color-effect-control-main: #7e6961;
  --gw2-color-effect-control-dark: #453a35;
  --gw2-color-effect-control-light: #af9e97;
  --gw2-color-effect-consumable-main: #329ead;
  --gw2-color-effect-consumable-dark: #1c575f;
  --gw2-color-effect-consumable-light: #71cad6;
  --gw2-color-effect-common-main: #329ead;
  --gw2-color-effect-common-dark: #1c575f;
  --gw2-color-effect-common-light: #71cad6;
  --gw2-color-effect-mistlockinstability-main: #b99700;
  --gw2-color-effect-mistlockinstability-dark: #524300;
  --gw2-color-effect-mistlockinstability-light: #ffd61f;

  --gw2-color-rarity-legendary-main: #4c139d;
  --gw2-color-rarity-legendary-dark: #230949;
  --gw2-color-rarity-legendary-light: #8037e6;
  --gw2-color-rarity-ascended-main: #fb3e8d;
  --gw2-color-rarity-ascended-dark: #dc045e;
  --gw2-color-rarity-ascended-light: #fdafd0;
  --gw2-color-rarity-exotic-main: #ffa405;
  --gw2-color-rarity-exotic-dark: #a36700;
  --gw2-color-rarity-exotic-light: #ffcb70;
  --gw2-color-rarity-rare-main: #fcd00b;
  --gw2-color-rarity-rare-dark: #a28402;
  --gw2-color-rarity-rare-light: #fee472;
  --gw2-color-rarity-masterwork-main: #1a9306;
  --gw2-color-rarity-masterwork-dark: #0b3b02;
  --gw2-color-rarity-masterwork-light: #36f514;
  --gw2-color-rarity-fine-main: #62a4da;
  --gw2-color-rarity-fine-dark: #2b77b6;
  --gw2-color-rarity-fine-light: #bdd9ef;
  --gw2-color-rarity-basic-main: #000;
  --gw2-color-rarity-basic-dark: #000;
  --gw2-color-rarity-basic-light: #333;
  --gw2-color-rarity-junk-main: #aaa;
  --gw2-color-rarity-junk-dark: #7a7a7a;
  --gw2-color-rarity-junk-light: #e0e0e0;

  --gw2-color-race-asura-main: #7e2aff;
  --gw2-color-race-asura-dark: #7e2aff;
  --gw2-color-race-asura-light: #7e2aff;
  --gw2-color-race-charr-main: #9b0303;
  --gw2-color-race-charr-dark: #3c0101;
  --gw2-color-race-charr-light: #fa0f0f;
  --gw2-color-race-human-main: #fcd12b;
  --gw2-color-race-human-dark: #c9a103;
  --gw2-color-race-human-light: #fdea9b;
  --gw2-color-race-norn-main: #5f9ffe;
  --gw2-color-race-norn-dark: #0162f4;
  --gw2-color-race-norn-light: #c2daff;
  --gw2-color-race-sylvari-main: #368103;
  --gw2-color-race-sylvari-dark: #112801;
  --gw2-color-race-sylvari-light: #63ef06;

  --gw2-color-text: #000;
  --gw2-color-primary: #2b6cb0;
  --gw2-color-primary-dark: #183c63;
  --gw2-color-primary-light: #6ba1db;
  --gw2-color-error: #dd2c00;

  --gw2-color-gold: #e5be45;
  --gw2-color-silver: #cbcac8;
  --gw2-color-copper: #a0673a;

  --gw2-font: Menomonia, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --gw2-font-weight-body: 400;
  --gw2-font-weight-heading: 600;
  --gw2-line-height-body: 1.46429;
  --gw2-line-height-heading: 1.16667;
}
