$checkmark--white: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTIwLjYsNS43Yy0wLjUtMC41LTEuMy0wLjUtMS44LDBMOSwxNS41bC0yLjQtMy4yYy0wLjQtMC42LTEuMy0wLjctMS44LTAuMmgwYy0wLjYsMC40LTAuNywxLjMtMC4yLDEuOAoJbDMuMyw0LjNjMC4xLDAuMiwwLjMsMC4zLDAuNSwwLjRjMCwwLDAsMCwwLDBjMC4xLDAsMC4xLDAsMC4yLDAuMWMwLDAsMCwwLDAuMSwwYzAsMCwwLjEsMCwwLjEsMGMwLDAsMC4xLDAsMC4xLDBjMCwwLDAuMSwwLDAuMSwwCgljMC4xLDAsMC4xLDAsMC4yLDBjMCwwLDAsMCwwLjEsMGMwLjEsMCwwLjEsMCwwLjItMC4xYzAsMCwwLDAsMCwwYzAuMS0wLjEsMC4zLTAuMSwwLjQtMC4yTDIwLjYsNy41QzIxLjEsNywyMS4xLDYuMiwyMC42LDUuN3oiLz4KPC9zdmc+);
$checkbox-true: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0iIzRBQkI4RiIgZD0iTTIwLDI0SDRjLTIuMiwwLTQtMS44LTQtNFY0YzAtMi4yLDEuOC00LDQtNGgxNmMyLjIsMCw0LDEuOCw0LDR2MTZDMjQsMjIuMiwyMi4yLDI0LDIwLDI0eiIvPgo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjAuNiw1LjdjLTAuNS0wLjUtMS4zLTAuNS0xLjgsMEw5LDE1LjVsLTIuNC0zLjJjLTAuNC0wLjYtMS4zLTAuNy0xLjgtMC4yaDBjLTAuNiwwLjQtMC43LDEuMy0wLjIsMS44CglsMy4zLDQuM2MwLjEsMC4yLDAuMywwLjMsMC41LDAuNGMwLDAsMCwwLDAsMGMwLjEsMCwwLjEsMCwwLjIsMC4xYzAsMCwwLDAsMC4xLDBjMCwwLDAuMSwwLDAuMSwwYzAsMCwwLjEsMCwwLjEsMGMwLDAsMC4xLDAsMC4xLDAKCWMwLjEsMCwwLjEsMCwwLjIsMGMwLDAsMCwwLDAuMSwwYzAuMSwwLDAuMSwwLDAuMi0wLjFjMCwwLDAsMCwwLDBjMC4xLTAuMSwwLjMtMC4xLDAuNC0wLjJMMjAuNiw3LjVDMjEuMSw3LDIxLjEsNi4yLDIwLjYsNS43eiIvPgo8L3N2Zz4=);
$checkbox-false: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBvcGFjaXR5PSIwLjQ4Ij4KCQk8cGF0aCBmaWxsPSIjQkJCREJGIiBkPSJNMjAsMEg0QzEuOCwwLDAsMS44LDAsNHYxNmMwLDIuMiwxLjgsNCw0LDRoMTZjMi4yLDAsNC0xLjgsNC00VjRDMjQsMS44LDIyLjIsMCwyMCwweiBNMjEsMTkKCQkJYzAsMS4xLTAuOSwyLTIsMkg1Yy0xLjEsMC0yLTAuOS0yLTJWNWMwLTEuMSwwLjktMiwyLTJoMTRjMS4xLDAsMiwwLjksMiwyVjE5eiIvPgoJPC9nPgo8L2c+Cjwvc3ZnPg==);
$radio-true: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8cGF0aCBvcGFjaXR5PSIwLjQ4IiBmaWxsPSIjMkE5OTc3IiBkPSJNMTIsMEM1LjQsMCwwLDUuNCwwLDEyYzAsNi42LDUuNCwxMiwxMiwxMnMxMi01LjQsMTItMTJDMjQsNS40LDE4LjYsMCwxMiwweiBNMTIsMjIKCQlDNi41LDIyLDIsMTcuNSwyLDEyQzIsNi41LDYuNSwyLDEyLDJzMTAsNC41LDEwLDEwQzIyLDE3LjUsMTcuNSwyMiwxMiwyMnoiLz4KPC9nPgo8Y2lyY2xlIGZpbGw9IiM0QUJCOEYiIGN4PSIxMiIgY3k9IjEyIiByPSI4Ii8+Cjwvc3ZnPg==);
$radio-false: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGNpcmNsZSBvcGFjaXR5PSIwLjQ4IiBmaWxsPSIjQkJCREJGIiBjeD0iMTIiIGN5PSIxMiIgcj0iMTAiLz4KPC9zdmc+);
$input-size: 1rem;

#mechanics {
  #gear-optimizer {
    .progress {
      position: relative;

      .progress-bar {
        span {
          position: absolute;
          width: 100%;
          display: block;
        }
      }
    }

    input {
      &:disabled,
      &.disabled {
        cursor: not-allowed;
        color: $text-muted;
      }
    }

    .input {
      .input-checkbox,
      .input-radio {
        display: none;
      }

      .input-checkbox + .input-label,
      .input-radio + .input-label {
        display: inline-block;
        position: relative;
        padding: 6px 0 6px 2rem;
        min-height: $input-size;
        margin-bottom: 0;

        &:hover {
          cursor: pointer;
        }
      }

      .input-checkbox + .input-label:before,
      .input-radio + .input-label:before {
        content: "";
        background-repeat: no-repeat;
        position: absolute;
        left: 0.2rem;
        top: 0.7rem;
        height: $input-size;
        width: $input-size;
      }

      .input-checkbox:checked + .input-label:before {
        background: $checkbox-true;
      }
      .input-checkbox + .input-label:before {
        background: $checkbox-false;
      }

      .input-checkbox.disabled + .input-label,
      .input-checkbox.disabled + .input-label:before {
        &:hover {
          cursor: not-allowed !important;
        }
      }
    }

    /*
    .dropdown {
      width: 100%;
      padding: $input-btn-padding-y $input-btn-padding-x;
      border: 1px solid $gray-darkest;
      background-color: $gray-darker;
      font-size: 1rem;
      line-height: 1.7;

      position: relative;
      cursor: pointer;

      &:disabled,
      &.disabled {
        background-color: $gray-dark;
        cursor: not-allowed;
      }

      &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 16px;
        top: 50%;
        border-width: 6px 6px 0 6px;
        border-style: solid;
        border-color: $body-color transparent;
        margin-top: -3px;
      }

      &.active {
        &:after {
          border-width: 0 6px 6px 6px;
        }

        .dropdown-options {
          display: block;
        }
      }

      .dropdown-options {
        display: none;
        position: absolute;
        top: 100%;
        left: -1px;
        right: -1px;
        transition: all 0.2s ease-out;
        z-index: $zindex-dropdown;

        border-bottom: 1px solid $gray-darkest;

        > div {
          background-color: $gray-darker;
          padding: 5px $input-btn-padding-x;
          border-right: 1px solid $gray-darkest;
          border-left: 1px solid $gray-darkest;

          &:hover {
            background-color: $gray-darkest;
          }

          &.selected {
            background-color: darken($shamrock, 30%);
          }
        }

        .dropdown-separator {
          width: 100%;
          background-color: $gray-darker;
          border-right: 1px solid $gray-darkest;
          border-left: 1px solid $gray-darkest;
          position: relative;
          height: 12px;
          display: block;

          &:before {
            content: "";
            position: absolute;
            bottom: 50%;
            border-bottom: 1px solid $gray-darkest;
            width: 100%;
          }
        }
      }
    }
    */

    .input-inverse {
      .dropdown {
        background-color: $gray-dark;
        border: 1px solid $shamrock-lightest;

        &:disabled,
        &.disabled {
          background-color: $gray-darker;
        }

        .dropdown-options {
          border-bottom: 1px solid $shamrock-lightest;

          > div {
            background-color: $gray-dark;
            border-right: 1px solid $shamrock-lightest;
            border-left: 1px solid $shamrock-lightest;

            &:hover {
              background-color: $gray-darkest;
            }

            &.selected {
              background-color: darken($shamrock, 30%);
            }
          }

          .dropdown-separator {
            background-color: $gray-dark;
            border-right: 1px solid $shamrock-lightest;
            border-left: 1px solid $shamrock-lightest;

            &:before {
              border-bottom: 1px solid $shamrock-lightest;
            }
          }
        }
      }

      input {
        background-color: $gray-dark;

        &:disabled,
        &.disabled {
          background-color: $gray-darker;
        }
      }
    }

    #go-input-distribution-presets {
      .btn {
        margin: 6px;
        padding: .3rem .8rem;
      }
    }

    #go-input-condition {
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
      input[type=number]{
        -moz-appearance: textfield;
      }
    }

    input.form-control:invalid {
      border: 1px solid #5e3b3b;
    }
  }
}
