/* ==================================================
   Reboot
================================================== */
body {
  position: relative;
}

a {
  transition: all 0.2s ease-in-out;
}

b,
strong {
  font-weight: $font-weight-bold;
}

::selection {
  color: $gray-lightest;
  background: $shamrock-light;
}

hr {
  @extend .my-4;
  @extend .my-lg-5;
  width: $hr-width;
}

table > tbody > tr > th:first-child {
  width: 1px;
  white-space: nowrap;
}
