name: 'Deploy: Cloudflare and Github Pages'

on:
  push:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  PAGES_PROJECT_NAME: optimizer
  NODE_VERSION: 20

concurrency:
  group: 'deploy'
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      contents: read
      deployments: write
      pages: write
      id-token: write
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up PNPM
        uses: pnpm/action-setup@v4
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm
      - name: Install dependencies
        run: pnpm install

      - name: Compile Rust
        run: pnpm wasm

      - name: Build
        run: pnpm build-all

      - name: Deploy to Cloudflare
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CI_CF_PAGES }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: pages deploy dist-cf --project-name=${{ env.PAGES_PROJECT_NAME }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Github Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './dist-gh'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
