
  
name: 'Build and Deploy - pullrequest CF'
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  
env:
  PAGES_PROJECT_NAME: discretize-optimizer
  
jobs:
  deployment:
    runs-on: ubuntu-latest
    if: >
      !contains(github.event.head_commit.message, 'skip ci') &&
      !contains(github.event.pull_request.body, '[no previews]') &&
      (contains(github.event.pull_request.body, '[draft previews]') || github.event.pull_request.draft == false)
    timeout-minutes: 10

    steps:
      - name: Generate preview
        uses: tomjschuster/cloudflare-pages-deploy-action@v0
        with:
          account-id: '${{ secrets.CF_ACCOUNT_ID }}'
          project-name: '${{ env.PAGES_PROJECT_NAME }}'
          api-key: '${{ secrets.CF_GLOBAL_APIKEY }}'
          email: '${{ secrets.CF_EMAIL }}'
          preview: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
