name: 'Deploy: Cloudflare PR Preview (Dependabot/External)'

# for security reasons, this workflow is only run when manually adding a
# "deploy dependabot/external pr" label to a PR; malicious code or dependency
# updates can steal deployment secrets.
# see https://securitylab.github.com/resources/github-actions-preventing-pwn-requests/
# see https://github.com/dependabot/dependabot-core/issues/3253#issuecomment-852541544

on:
  # pull_request_target permits secrets access; does not check out merge commit by default
  pull_request_target:
    types: [labeled]

env:
  PAGES_PROJECT_NAME: optimizer
  NODE_VERSION: 20

jobs:
  deployment:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
      pull-requests: write

    if: contains(github.event.pull_request.labels.*.name, 'deploy dependabot/external pr')
    timeout-minutes: 15

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        # check out the merge commit with secrets access!
        with:
          ref: ${{ github.event.pull_request.merge_commit_sha }}

      - name: Set up PNPM
        uses: pnpm/action-setup@v4
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm
      - name: Install dependencies
        run: pnpm install

      - name: Compile Rust
        run: pnpm wasm

      - name: Build Cloudflare
        run: pnpm build-cf

      - name: Deploy preview to Cloudflare
        uses: cloudflare/wrangler-action@v3
        id: wrangler-action
        with:
          apiToken: ${{ secrets.CI_CF_PAGES }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: pages deploy dist --project-name=${{ env.PAGES_PROJECT_NAME }} --branch=${{ github.head_ref || github.ref_name }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v3
        with:
          message: |
            Deployed build to Cloudflare!

            |                         |   |
            | ----------------------- | - |
            | **Last commit:**        | ${{ github.event.pull_request.head.sha || github.event.workflow_run.head_sha || github.sha }} |
            | **Preview URL**:        | ${{ steps.wrangler-action.outputs.deployment-url }} |
            | **Branch Preview URL**: | ${{ steps.wrangler-action.outputs.pages-deployment-alias-url }} |
          comment-tag: deployment
          mode: upsert
