name: 'Test: All CI Tests'

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
  push:
    branches:
      - main
  workflow_dispatch:

env:
  NODE_VERSION: 20

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  test:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up PNPM
        uses: pnpm/action-setup@v4
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm
      - name: Install dependencies
        run: pnpm install

      - name: Compile Rust
        run: pnpm wasm

      - name: Test modifier and preset data
        run: pnpm testData

      - name: Validate modifier and preset data types
        run: pnpm validateDataTypes

      - name: Lint with ESLint
        run: pnpm eslint

      - name: Format with prettier
        run: pnpm prettierCheck

      - name: Typecheck with tsc
        run: pnpm typeCheck
