name: "Test: Lint Rust"

on:
  workflow_dispatch:
  pull_request:
    paths:
      - src/assets/wasm_module/**

env:
  NODE_VERSION: 18

jobs:
  testRust:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'
      - name: Cache dependencies
        id: node-modules-cache
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-${{ env.NODE_VERSION }}-node_modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install dependencies
        run: yarn install --frozen-lockfile
        if: steps.node-modules-cache.outputs.cache-hit != 'true'
      - name: Cache Rust
        uses: Swatinem/rust-cache@v2

      - name: Check Rust with cargo
        run: yarn wasmCheck
